body{
    background-color: gray;
}
.logo img {
    width: 80%;
    height: 500px;
    margin:0px,0px,40px,0px
    
    
    

}

img main, img , img  {
    border-radius: 50%;
    margin: 25px 50px 25px;
    border: 10px solid  rgb(39, 38, 38);
    width: 15%;
     
}

footer{
    background-color: gray;
}

#background{
    background-color: gray;
}



