

img {
    width: 1600%;
    display: block;
    margin: 0 auto;
} 

main p {
  width:80%;
  margin: 0 auto;
  text-align: center;     
}

a {
  font-size: 1.5em;
}

body {
  text-align: center; 
}

nav {
  background-color: rgb(254, 158, 238);
  padding: 10px;
  text-align: center;
}

a {
  color: white;
  margin: 40px;
}

h1 {
  color: rgb(255, 255, 255); 
  text-align: center;
}
img {
  width: 800px;
  border: 4px solid steelblue;
}
footer p  {
  font-size: 20px;
  margin: 20px auto;
}
footer {
  background-color: steelblue;
  color: white;
  text-align: center;
}