/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Playfair+Display:ital,wght@1,900&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #fefee3  ;
  --secondary-color: #ffc9b9 ;
  --accent1-color: #d68c45;
  --accent2-color: #4c956c;

  /* change the values below to your chosen font(s) */
  --heading-font: Playfair;
  --paragraph-font: Manrope;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: goldenrod;  /* headlines on a white background */ 
  --headline-color-on-color: goldenrod; /* headlines on a colored background */ 
  --paragraph-color-on-white: #ffc9b9; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #ffc9b9  ;
  --nav-link-color: goldenrod;
  --nav-background-color: #ffc9b9;
  --nav-hover-link-color: #fefee3;
  --nav-hover-background-color: #d68c45;
}


/* home page */
.logo_link{
  padding-top: 10px;
  justify-self: center;
  align-self:  center;
}
.logo{
  width: 150px;
}
nav a:hover{
  text-align: center;
  background-color:#ffc9b9
}
nav a{
  padding: 35px;
  text-align: center;
  text-decoration: none;
}

.backgroud{
  color:#fefee3 
}
header{
  background-color:#ffc9b9; ;
  display:grid;
  grid-template-columns: 150px auto;
}

nav{
  display:flex;
  justify-content:  space-around;
}

#hero-img{
  width: 79%;
  height: 20%;
  margin: 50px 40px 10px 100px;
  
}

body{
  background-color: #fefee3;
  font-size: 22px;
  margin:0;
  padding: 0;
}
.home-tittle{
  font-size: 70px;
  margin:20px 30px 20px 30px;
  text-align: center;
  font-family: Playfair;
}


.hero-msg {
  margin:40px;

}
.hero-msg p{
  margin:30px;
  font-family: Manrope;
  font-size: 8em;

  
 
}
main{
 display: grid;
}

.grid{
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#sweet-grid {
  display:grid;
  grid-template-columns: 50%;
}

.ingredients{
width: 30%;
height: 50px;

}
.cake-decoration{
  width: 30%;
  margin:10px;
}
.recipes{
  width: 30%;
  grid-column: 3/4;
  margin: 10px;   

}

.first-picture{
  width: 30%;
  grid-template: 1 / 1 / 3/ 2;
  font-size: 22px;
  background-color: white;
  margin:10px 10px;
  border:10px;
  padding:5px
  
  

}
.second-picture{
  width: 30%;
  font-size: 22px;
  grid-column:2/3;
  grid-row:1;
  background-color: white;
  margin:10px 10px;
  border:10px;
  padding:5px;

}
.third-picture{
  width: 30%;
  font-size: 22px;
  grid-column:3/4;
  grid-row:1;
  background-color: white;
  margin:10px 10px;
  border:10px;
  padding:5px
}



#sweet-grid {
  display:grid;
  grid-template-columns: 50%;
}



footer {
  background-color: #ffc9b9;
  padding: 25px 50px;
  margin-top:200px;
  display: flex;
  justify-content: space-around;
  align-items:center;
}

footer .social img{
  padding-top:15px;
}
footer p{
  font-size: 1.2em;

}

footer p a:hover{
  text-decoration: underline;
}




/*Ingredients page*/
.logo_link{
  padding-top: 10px;
  justify-self: center;
  align-self:  center;
}
.logo{
  width: 150px;
}
nav a:hover{
  text-align: center;
  background-color:#ffc9b9
}
nav a{
  padding: 35px;
  text-align: center;
  text-decoration: none;
}

.backgroud{
  color:#fefee3 
}
header{
  background-color:#ffc9b9; ;
  display:grid;
  grid-template-columns: 150px auto;
}

nav{
  display:flex;
  justify-content:  space-around;
}



body{
  background-color: #fefee3;
  font-size: 22px;
  margin:0;
  padding: 0;
}
.home-tittle{
  font-size: 60px;
  margin:20px 30px 20px 30px;
  text-align: center;
}
main{
  display:grid;
  display:contents;
}

.grid{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  display:block;
}

.ingre-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
}



.ingre-1-img{
  width: 50%;
  grid-column: 1/2;
  grid-row:1/2;
  margin:40px 90px;
  padding: 3%;
}

.ingre-2-img{
  width: 70%;
  grid-column: 2/3;
  grid-row:2/3;
  margin: 70px 70px;
  padding: 3%;

}

.h2{
  margin: 20px 5px;
}

.para1{
  grid-column: 2/3;
  grid-row: 1/2;
  padding:3%;
  margin:20px;
  text-align: justify;

 
}

.para2{
  grid-column:1/2;
  grid-row: 2/3;
  padding: 3%;
  text-align: justify;
}




footer {
  background-color: #ffc9b9;
  padding: 25px 50px;
  margin-top:200px;
  display: flex;
  justify-content: space-around;
  align-items:center;
}

footer .social img{
  padding-top:15px;
}
footer p{
  font-size: 1.2em;

}

footer p a:hover{
  text-decoration: underline;
}

/* decoration page */

.logo_link{
  padding-top: 10px;
  justify-self: center;
  align-self:  center;
}
.logo{
  width: 150px;
}
nav a:hover{
  text-align: center;
  background-color:#ffc9b9
}
nav a{
  padding: 35px;
  text-align: center;
  text-decoration: none;
}

.backgroud{
  color:#fefee3 
}
header{
  background-color:#ffc9b9; ;
  display:grid;
  grid-template-columns: 150px auto;
}

nav{
  display:flex;
  justify-content:  space-around;
}

.deco-1-img{
  width: 80%;
  height: 90%;
  margin:15px;

}

.deco-2-img{
  width: 80%;
  height: 80%;
  margin:15px;
}

.deco-3-img{
  width: 80%;
  height: 80%;
  margin:15px;
}

.decoration-1{
  width: 50%;
  grid-column:2/3;
  grid-row: 1/2;

}

.p1{
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 3%;
  text-align:justify;
  
}
.decoration-2{
    grid-column:2/3;
    grid-row:2/3;
}

.p2{
  grid-column:1/2;
  grid-row: 2/3;
  padding:3%;
  text-align:justify;
 
}

.decoration-3{
  grid-column:2/3;
  grid-row:3/4;
}

.p3{
  grid-column: 1/2;
  grid-row: 3/4;
  padding:3%;
  text-align:justify;

}

body{
  background-color: #fefee3;
  font-size: 22px;
  margin:0;
  padding: 0;
}
.deco-tittle{
  font-size: 70px;
  margin:20px 30px 20px 30px;
  padding: 8%;
}

main.deco-grid{
 display: grid;
}

.grid{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#deco-grid {
  display:grid;
  grid-template-columns: 50%;
}

footer {
  background-color: #ffc9b9;
  padding: 25px 50px;
  margin-top:200px;
  display: flex;
  justify-content: space-around;
  align-items:center;
}

footer .social img{
  padding-top:15px;
}
footer p{
  font-size: 1.2em;

}

footer p a:hover{
  text-decoration: underline;
}


